@import "tailwindcss";

html,
body {
  height: 100dvh;
}

body {
  @apply select-none overflow-hidden;
}

a {
  @apply text-blue-500 underline hover:no-underline;
}

.capped {
  @apply text-red-600;
}

.btn {
  @apply text-black disabled:text-neutral-500 bg-neutral-100 enabled:cursor-pointer;
  @apply border border-solid enabled:border-black disabled:border-neutral-500;
  @apply enabled:focus:ring-black/50 enabled:focus:ring-4;

  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:enabled.active,
  &:enabled:active,
  &:enabled:hover {
    @apply border-neutral-800 bg-neutral-500 text-neutral-100;
  }
}

.tooltip-container>.tooltip-content {
  display: none;
}

.tooltip-container>.tooltip-target:hover+.tooltip-content {
  display: block;
}

@utility padded {
  @apply py-1.5 px-3;
}

.resource-list {
  @apply *:p-1 rounded divide-y divide-solid divide-neutral-400 border border-solid border-neutral-400;
}

.resource-expander {
  @apply padded cursor-pointer bg-neutral-100 hover:bg-neutral-200 active:bg-neutral-300;
}

.controls>.btn {
  @apply w-full;
}

.controls-tooltip-content {
  @apply text-sm max-w-[20dvw] drop-shadow-sm rounded bg-neutral-100;
}

.controls-tooltip-list {
  @apply *:p-1 border border-solid border-neutral-400 divide-y divide-solid divide-neutral-400;
}

.title-badge {
  @apply inline-block p-1 rounded;
  @apply text-xs font-bold text-center whitespace-nowrap align-baseline;
  @apply text-white bg-green-700;
}

.number {
  @apply font-mono;
}

.unscroll-y {
  @apply h-full overflow-y-auto;
}

.grid-top-nav-layout {
  @apply grid;

  grid-template:
    "navigation navigation navigation " auto
    "resources  controls   environment" minmax(0, 1fr) / 3.5fr 5fr 3.5fr;
}

.navigation-area {
  grid-area: navigation;
}

.resources-area {
  grid-area: resources;
}

.controls-area {
  grid-area: controls;
}

.environment-area {
  grid-area: environment;
}

.fade-down-to-transparent {
  mask-image: linear-gradient(to top, transparent, white min(25%, 25vh));
}